@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gilroy"; /* Provide a unique name for your font */
  src: url("../public/Gilroy-Bold.otf"); /* Specify the path to your font file and its format */
  /* You can include additional font formats for better browser compatibility, such as woff2, ttf, etc. */
}

@font-face {
  font-family: "gilroy-black"; /* Provide a unique name for your font */
  src: url("../public/Gilroy-Black.otf"); /* Specify the path to your font file and its format */
  /* You can include additional font formats for better browser compatibility, such as woff2, ttf, etc. */
}

:root {
  --primaryColor: #00308fe6;
  --secondaryColor: #ffffff;
  --backgroundColor: #8080801a;
  --hoverColor: #00308f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--secondaryColor);
}

body::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--hoverColor);
}

.btns {
  flex-shrink: 0;
  padding: 10px 30px;
  color: var(--primaryColor);
  margin-left: 30px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--primaryColor);
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.btns-slidingNav {
  margin: 0px;
}

.btns:hover::after {
  position: absolute;
  content: "";
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--hoverColor);
  height: 4px;
  border-radius: 2px;
  width: 12px;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.btns:hover {
  background-color: var(--hoverColor);
  color: white;
  border-color: var(--hoverColor);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

/* ..... */

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.form > button > img {
  width: 24px;
  height: 24px;
}

.divider {
  display: flex;
  flex-direction: row;
  color: var(--primaryColor);
  gap: 16px;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
}

.dividerline {
  width: 100%;
  height: 1px;
  background-color: var(--primaryColor);
  opacity: 0.2;
}

.form-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.whole-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  padding: 30px;
  height: fit-content;
  background-color: var(--backgroundColor);
  border-radius: 10px;
}

.form-btn {
  background-color: var(--secondaryColor);
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  font-weight: 500;
  cursor: pointer;
}

.form-btn:hover {
  background-color: var(--hoverColor);
  border: 2px solid var(--hoverColor);
  color: var(--secondaryColor);
}

.form-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--primaryColor);
}

.form-wrapper {
  display: block;
  display: flex;
  color: var(--primaryColor);
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.text-field {
  width: 100%;
  position: relative;
}

.text-field > input {
  color: var(--primaryColor);
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  border: 2px solid var(--primaryColor);
  height: 48px;
  background-color: var(--secondaryColor);
  outline: none;
  transition: 0.25s;
  border-radius: 5px;
  text-indent: 15px;
  margin-top: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: var(--primaryColor);
  font-size: 20px;
  margin-right: 15px;
}

*select option {
  padding: 10px;
}

.text-field > select {
  color: var(--primaryColor);
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  border: 2px solid var(--primaryColor);
  height: 48px;
  background-color: var(--secondaryColor);
  outline: none;
  transition: 0.25s;
  border-radius: 5px;
  text-indent: 15px;
  margin-top: 5px;
}

.text-field > textarea {
  color: black;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  border: 2px solid var(--primaryColor);
  background-color: var(--secondaryColor);
  outline: none;
  transition: 0.25s;
  border-radius: 5px;
  margin-top: 8px;
  resize: none;
  padding: 15px;
}

.text-field > input::placeholder {
  color: var(--primaryColor);
}

.text-field img {
  position: absolute;
  right: -2px;
  bottom: 0px;
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.text-field > input:focus + .hide {
  display: none;
}
.text-field > input:not(:placeholder-shown) + .hide {
  display: none;
}
.text-field > input:placeholder-shown + .hide {
  display: initial;
}

.text-field > label {
  color: var(--primaryColor);
  font-size: 15px;
  font-weight: 500;
}

.my-form-actions {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  color: var(--primaryColor);
  /* border: 2px solid black; */
}

.forget-btn {
  background-color: transparent;
  border: none;
  outline: none;
  /* text-decoration: none; */
  font-size: 15px;
  color: var(--primaryColor);
  font-weight: 500;
}

.forget-btn:hover {
  color: var(--hoverColor);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.my-form-signup {
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.profile-ctn {
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--primaryColor);
  /* border: 2px solid red; */
}

.profile-ctn > .whole-form-wrapper {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroundColor);
}

.upload-profile-form {
  display: none;
}

.profileImg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.profile-card {
  background-color: var(--backgroundColor);
  border-radius: 10px;
  padding: 20px 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 20px;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #007fff; */
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.set-profile-card {
  pointer-events: none;
  opacity: 0.1;
  /* filter: blur(1px); */
}

.profile-card > .left {
  /* background-color: yellow; */
  overflow: hidden;
  width: 200px;
  padding: 10px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  border: 5px solid var(--primaryColor);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.profile-card > .left > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile-card > .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */
  /* background-color: red; */
  justify-content: center;
  /* padding: 10px; */
  width: fit-content;
}

.profile-card > .right > .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-card > .right > .top > button {
  margin: 0px;
}

/* .task-title {
  font-size: 22px;
  color: var(--primaryColor);
  height: 10%;
} */

.icn-btns {
  display: block;
  padding: 3px 9px;
  color: #007fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  border: 2px solid var(--primaryColor);
}

.icn-btns > img {
  width: 20px;
}

.btns-ctn {
  display: flex;
  gap: 15px;
}

.textarea::placeholder {
  color: var(--primaryColor);
}

.profile-card > .right > .bottom {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-card > .right > .bottom > .btns {
  margin: 0px;
}

.loader-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* background-color: yellow; */
}

.loader-ctn > img {
  height: 150px;
  width: 150px;
}

.loader-ctn > h6 {
  font-size: 20px;
  font-weight: 500;
}

.loader-center {
  justify-content: center;
}

.date-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.date-ctn > .text-field > input {
  text-indent: 5px;
}

@media only screen and (max-width: 450px) {
  .landing-page-ctn {
    padding: 21px 21px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 21px;
  }

  .heading-ctn {
    gap: 10px;
    width: 100%;
  }

  .heading-ctn > h1 {
    font-size: 30px;
  }

  .heading-ctn > h6 {
    font-weight: 500;
    font-size: 15px;
  }

  .common-content-ctn {
    padding: 21px 21px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 21px;
  }

  .dashboard-ctn {
    padding: 21px 21px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 21px;
  }

  .form-ctn {
    width: 100%;
  }

  .my-form-signup,
  .my-form-signup > .forget-btn {
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .profile-ctn {
    width: 100%;
  }
}
