.footerCtn {
  width: 100%;
  padding: 14px 21px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--primaryColor);
  justify-content: center;
}

.footerCtn > h6 {
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 450px) {
  .footerCtn {
    padding: 21px 21px;
    justify-content: flex-start;
  }
}
